speed-lead-scoring-first-step.json
{
  "name": "Speed to Lead and Lead Scoring System",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "submit-lead-form",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -96,
        544
      ],
      "id": "c88c1d5a-0a3f-49a7-a48f-a5e37828afef",
      "name": "Webhook",
      "webhookId": "073a684d-350c-45d3-8685-176e24304eee"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Task\nYou are to send a response email to a submit lead form following the criteria provided. You are to ask a variety of different questions to better understand what the lead is looking for. ONLY use the questions provided and ONLY use if they are not already clearly answered.\n\n# Questions\nThe \"questions_for_lead\" tools incluedes a variety of questions you are to ask the client after they have submited a lead form. The database includes the question, the critiera around asking the question, \n\n# Rules\n-Only ask a question if it is not clearly provided within the submit lead form.\n-Only ask the provided questions do not ask any other questions.\n-Reference provided information when possible i.e. if someone says they are located in California ask \"where in California are you located?\".\n-Output must be in HTML and formatted as a regular email, with proper spacing and text.\n-Do not make any of the text bold\n-PROVIDE JUST THE OUTPUT THIS IS GOING INTO AN EMAIL SO NO NEED FOR ANY PRE-TEXT\n-Follow the format of the email below as much as possible. \n-Ask at maximum 2 questions do not number the questions on the output. \n-NEVER MAKE ANYTHING UP\n\n# Email Format Example\n\nHi [Name],\n\nThanks for submitting your project briefing with Cartonix. We're reviewing your request for [Volume] [Type of BOX] at [Dimensions]\n\n\nTo create the most accurate quote, we need a few quick specs:\n\n**Ask 3-5 targeted questions**\n\n\nIf you want to skip the back-and-forth? Feel free to book a free 30-min call with our team:\n\n\nOtherwise, just reply to this email with the info above and we'll have your quote ready for you shortly.\n\n— The Cartonix Team\n\n\n----\n<p>Hi Jasper,</p>\\n\\n<p>Thanks for submitting your project briefing with Cartonix. We're reviewing your request for 1,000 - 5,000 Corrugated Cardboard Boxes at 16 x 12 x 8.</p>\\n\\n<p>To create the most accurate quote, we need a few quick specs:</p>\\n\\n<p>What state and city do you need delivery to?</p>\\n\\n<p>Do you have documents (CAD drawings etc) for your desired design?</p>\\n\\n<p>If you want to skip the back-and-forth? Feel free to book a free 30-min call with our team:<br>\\nhttps://calendly.com/malikford/discovery-call</p>\\n\\n<p>Otherwise, just reply to this email with the info above and we'll have your quote ready for you shortly.</p>\\n\\n<p>— The Cartonix Team</p>\"\n\n# Info\n\n## Lead Contact Info\nFull Name: {{ $('Webhook').item.json.body.full_name }}\nJob Role: {{ $('Lead Scoring and Evaluation').item.json.output.job_role }}\n\n## Request Info\nBox Type: {{ $('Webhook').item.json.body.box_type }}\nVolume: {{ $('Webhook').item.json.body.volume }}\nRequest: {{ $('Webhook').item.json.body.details }}\nDimensions: {{ $('Edit Fields').item.json.dimensions }}\n\n## Company Info\nCompany Name: {{ $('Edit Fields').item.json.company_name }}\nCompany Industry: {{ $('Lead Scoring and Evaluation').item.json.output.company_industry }}\nAbout Company: {{ $('Lead Scoring and Evaluation').item.json.output.about_company }}\nCompany Location: \n\n\n",
        "options": {
          "systemMessage": "# Role\nYou are an exceptional sales intake person"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2160,
        528
      ],
      "id": "b5227c36-a2a8-4c91-bb1b-2eb527f0c2c4",
      "name": "Email Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "authentication": "appToken",
        "operation": "search",
        "returnAll": true,
        "filterGroupsUi": {
          "filterGroupsValues": [
            {
              "filtersUi": {
                "filterValues": [
                  {
                    "propertyName": "email|string",
                    "value": "={{ $('Edit Fields').item.json.email }}"
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        608,
        544
      ],
      "id": "70e70a33-62f0-4eb8-b638-6a9f2a006cec",
      "name": "Search contacts",
      "alwaysOutputData": true,
      "credentials": {
        "hubspotAppToken": {
          "id": "8z5M13a8m2nQIUB1",
          "name": "Hubspot Final"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.id }}",
                    "rightValue": 0,
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    },
                    "id": "e3948de2-4f61-4342-8bce-a4fc0e23996c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "New Contact"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "2f08aafd-2321-40c0-8450-8bc540f3d8ec",
                    "leftValue": "={{ $json.id }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Old Contact"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        768,
        544
      ],
      "id": "86d06200-9554-4d0a-a3f5-37fd0400474c",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Task\nYou are to perform two tasks with the provided information from a lead form filled out by a potential lead.\n\n## 1st Task: If the website name and url is provided you are to perform research on the company using the \"lead_research\" tool provided. (Research criteria below)\n\n## 2nd Task: After conducting research or if no url or company name is provided you are to score the lead based on the criteria provided in the \"lead_scoring_criteria\" tool.\n\n# Research Criteria (IF COMPANY NAME or/and URL IS PROVIDED) (1st Task)\nYou are to use the provided \"lead_research\" tool to get the following information;\n-LinkedIn URL\n-Job Role\n-Company Industry\n-About the company (2-3 sentences long)\n\nWhen conducting research with the \"lead_research\" tool please do not use the tool more than 2 times (2 TIMES MAX)\nOnly provide information if the persons name and the company name provided match or are very similar to one another.\n\nStart with looking for the LinkedIn URL as this will provide alot of information on their job role then conduct a search on the company \n\n## Example Search Queries\n\"Tom Jefferson Luxe Cosmetics LinkedIn\"\n\"About Luxe Cosmetics\"\n\n\n# Lead Scoring Criteria (2nd Task)\n-You will use the airtable tool \"lead_scoring_criteria\" to evaluate the lead \n-Leads are scored from 0 - 120 points and based on whatever information is provided \n-You will only be given records that are labeled as \"initial\" meaning that this score may increase later on the sales cycle progresses. \n\n\n# Rules\n-Output must be in JSON\n-Only provide information if you are more than 90% certain the information is correct otherwise do not include it.\n\n# Lead/Form Information\nFull Name: {{ $('Edit Fields').item.json.full_name }}\nCompany Name: {{ $('Edit Fields').item.json.company_name }}\nCompany Website: {{ $('Edit Fields').item.json.website }}\nBox Type: {{ $('Edit Fields').item.json.box_type }}\nVolume: {{ $('Edit Fields').item.json.volume }}\nLead Details: {{ $('Edit Fields').item.json.details }}\nSMS Consent: {{ $('Edit Fields').item.json.sms_consent }}\nDate: {{ $('Edit Fields').item.json.date }}\nTime: {{ $('Edit Fields').item.json.time }}\n\n\n# Output\n{\n\"type\": \"object\",\n\"properties\": {\n  \"lead_score\": {\n    \"type\": \"number\"\n  },\n  \"linkedin_url\": {\n    \"type\": \"string\"\n  },\n  \"job_role\": {\n    \"type\": \"string\"\n  },\n  \"company_industry\": {\n    \"type\": \"string\"\n  },\n  \"about_company\": {\n    \"type\": \"string\"\n  }\n}\n}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "# Role\nYou are an expert lead scoring and sales specialist, with decades of experience scoring leads and creating outreach plans. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1280,
        528
      ],
      "id": "b50d6101-3c5a-434f-9a2b-442db1271340",
      "name": "Lead Scoring and Evaluation",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a122f90a-795a-421a-87a8-021251659b3c",
              "name": "full_name",
              "value": "={{ $json.body.full_name }}",
              "type": "string"
            },
            {
              "id": "35d67e22-e6c3-4002-a49f-d5152f10cb8c",
              "name": "first_name",
              "value": "={{ $json.body.full_name.split(\" \").first() }}",
              "type": "string"
            },
            {
              "id": "d694bfe5-09e1-4aa8-a899-8e1b8cd85abf",
              "name": "last_name",
              "value": "={{ $json.body.full_name.split(\" \").last() }}",
              "type": "string"
            },
            {
              "id": "8769241e-07cf-42a3-b527-2fb66f42867b",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "57be6c03-7286-4e48-ad6d-b962245653d0",
              "name": "phone",
              "value": "={{ $json.body.phone }}",
              "type": "string"
            },
            {
              "id": "0bcdc801-0646-4a54-aa06-f8649cff3bb2",
              "name": "company_name",
              "value": "={{ $json.body.company_name }}",
              "type": "string"
            },
            {
              "id": "d5fa3c26-ca52-4edb-99bf-242e5ec268c5",
              "name": "website",
              "value": "={{ $json.body.website }}",
              "type": "string"
            },
            {
              "id": "d9ce3b97-bb72-493d-93f2-e3c758b268c1",
              "name": "box_type",
              "value": "={{ $json.body.box_type }}",
              "type": "string"
            },
            {
              "id": "bc6004dc-b836-4d2a-8394-0192e764578c",
              "name": "volume",
              "value": "={{ $json.body.volume }}",
              "type": "string"
            },
            {
              "id": "58198813-0aa3-4fba-b7ce-a3127622360c",
              "name": "details",
              "value": "={{ $json.body.details }}",
              "type": "string"
            },
            {
              "id": "cbc0bfd9-1f30-4ee3-a335-e126b47a4cb3",
              "name": "sms_consent",
              "value": "={{ $json.body.sms_consent }}",
              "type": "string"
            },
            {
              "id": "2249459f-b97c-4040-b251-a1f15b5cf6db",
              "name": "source",
              "value": "={{ $json.body.source }}",
              "type": "string"
            },
            {
              "id": "0166a402-1a6f-4022-8d7f-957da0efa568",
              "name": "date",
              "value": "={{ $json.body.timestamp.toDateTime().setZone('America/New_York').format('dd-MM-yyyy') }}",
              "type": "string"
            },
            {
              "id": "2441f51c-02df-42a7-beb8-3414d0e0ee0f",
              "name": "time",
              "value": "={{ $json.body.timestamp.toDateTime().setZone('America/New_York').format('hh:mm:ss') }}",
              "type": "string"
            },
            {
              "id": "cfa2d4fa-d2d9-4126-bac1-1584a6d1e8c2",
              "name": "dimensions",
              "value": "={{ $json.body.dimensions }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        544
      ],
      "id": "556d0f94-5af0-413a-b4ce-9a1b311424eb",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appNGNnz1pzusj37q",
          "mode": "list",
          "cachedResultName": "Cartonix",
          "cachedResultUrl": "https://airtable.com/appNGNnz1pzusj37q"
        },
        "table": {
          "__rl": true,
          "value": "tblu2e698hMyFqJcZ",
          "mode": "list",
          "cachedResultName": "Lead Scoring",
          "cachedResultUrl": "https://airtable.com/appNGNnz1pzusj37q/tblu2e698hMyFqJcZ"
        },
        "filterByFormula": "{Scoring Type} = \"Initial\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1280,
        768
      ],
      "id": "c05d2ab6-4c1a-4c4d-9a42-3807c6c11132",
      "name": "lead_scoring_criteria",
      "credentials": {
        "airtableTokenApi": {
          "id": "MaidxhhIvSDj51GW",
          "name": "Airtable Cred Final"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\"type\": \"object\",\n\"properties\": {\n  \"lead_score\": {\n    \"type\": \"number\"\n  },\n  \"linkedin_url\": {\n    \"type\": \"string\"\n  },\n  \"job_role\": {\n    \"type\": \"string\"\n  },\n  \"company_industry\": {\n    \"type\": \"string\"\n  },\n  \"about_company\": {\n    \"type\": \"string\"\n  }\n}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1584,
        768
      ],
      "id": "0f597a6a-f79c-47d3-aa9c-0296a2b75d4e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "authentication": "appToken",
        "email": "={{ $('Edit Fields').item.json.email }}",
        "additionalFields": {
          "customPropertiesUi": {
            "customPropertiesValues": [
              {
                "property": "lead_ranking",
                "value": "={{ $json.output.lead_score }}"
              },
              {
                "property": "about_company",
                "value": "={{ $json.output.about_company }}"
              }
            ]
          },
          "industry": "={{ $json.output.company_industry }}",
          "jobTitle": "={{ $json.output.job_role }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        1760,
        528
      ],
      "id": "522efe9d-a0c0-49e6-8285-85b49bccd3e4",
      "name": "Update Contact",
      "retryOnFail": true,
      "credentials": {
        "hubspotAppToken": {
          "id": "8z5M13a8m2nQIUB1",
          "name": "Hubspot Final"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appNGNnz1pzusj37q",
          "mode": "list",
          "cachedResultName": "Cartonix",
          "cachedResultUrl": "https://airtable.com/appNGNnz1pzusj37q"
        },
        "table": {
          "__rl": true,
          "value": "tblbY35ePKZIowsck",
          "mode": "list",
          "cachedResultName": "Questions",
          "cachedResultUrl": "https://airtable.com/appNGNnz1pzusj37q/tblbY35ePKZIowsck"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        2352,
        752
      ],
      "id": "c1311f11-ec8b-4e05-a7a5-b7cd404572c1",
      "name": "questions_for_lead",
      "credentials": {
        "airtableTokenApi": {
          "id": "MaidxhhIvSDj51GW",
          "name": "Airtable Cred Final"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1136,
        768
      ],
      "id": "314e9159-316c-43f9-8f9a-6df8c0b3798f",
      "name": "GPT 5.2",
      "credentials": {
        "openAiApi": {
          "id": "oOBwGgUdT1lnFcUw",
          "name": "Malik F API"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2096,
        752
      ],
      "id": "3ddbadc9-7bc6-4c9e-9b3b-32b0185b4467",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "oOBwGgUdT1lnFcUw",
          "name": "Malik F API"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "email": "={{ $('Edit Fields').item.json.email }}",
        "additionalFields": {
          "companyName": "={{ $('Edit Fields').item.json.company_name }}",
          "customPropertiesUi": {
            "customPropertiesValues": [
              {
                "property": "box_type",
                "value": "={{ $('Edit Fields').item.json.box_type }}"
              },
              {
                "property": "request_description",
                "value": "={{ $('Edit Fields').item.json.details }}"
              },
              {
                "property": "monthly_order_volume",
                "value": "={{ $('Webhook').item.json.body.volume }}"
              }
            ]
          },
          "firstName": "={{ $('Edit Fields').item.json.first_name }}",
          "lastName": "={{ $('Edit Fields').item.json.last_name }}",
          "leadStatus": "NEW",
          "phoneNumber": "={{ $('Edit Fields').item.json.phone }}",
          "websiteUrl": "={{ $('Edit Fields').item.json.website }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        1072,
        528
      ],
      "id": "f54a0917-b0d6-43ce-8f7c-c698d07e51a0",
      "name": "Create Contact",
      "retryOnFail": true,
      "credentials": {
        "hubspotAppToken": {
          "id": "8z5M13a8m2nQIUB1",
          "name": "Hubspot Final"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Task\nYou are to send a response text message to a submit lead form following the criteria provided. You are to keep these text messages short. You are to start off summarizing what they asked for and then ask if they have a minute for you to ask some questions. \n\n# Rules\n-Reference provided information when possible i.e. if someone says they are located in California ask \"where in California are you located?\".\n-PROVIDE JUST THE OUTPUT THIS IS GOING INTO AN TEXT SO NO NEED FOR ANY PRE-TEXT\n-Follow the format of the text below as much as possible. \n-NEVER MAKE ANYTHING UP\n-No Emojis\n-Must be a short professional text message\n\n# Email Format\n\nHi [Name],\n\nThanks for submitting your project briefing with Cartonix. We're reviewing your request for [Volume] [Box Type] with [Dimensions].\n\nI have a few questions I wanted to ask to make your quote as accurate as possible. Do you have a minute?\n\nIf you want to skip the back-and-forth? Feel free to book a free 15-min call with our team:\n\n--To Opt out of sms just respond STOP---\n\n# Info\n\n## Lead Contact Info\nFull Name: {{ $('Edit Fields').item.json.full_name }}\nJob Role: {{ $('Lead Scoring and Evaluation').item.json.output.job_role }}\n\n## Request Info\nBox Type: {{ $('Edit Fields').item.json.box_type }}\nVolume: {{ $('Edit Fields').item.json.volume }}\nRequest: {{ $('Edit Fields').item.json.details }}\nDimensions: {{ $('Edit Fields').item.json.dimensions }}\n\n\n## Company Info\nCompany Name:\nCompany Industry: {{ $('Lead Scoring and Evaluation').item.json.output.company_industry }}\nAbout Company: {{ $('Lead Scoring and Evaluation').item.json.output.about_company }}\nCompany Location: \n\n\n",
        "options": {
          "systemMessage": "# Role\nYou are an exceptional sales intake person"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2320,
        1200
      ],
      "id": "265c4192-b88d-4456-b68f-6962b08c8ac9",
      "name": "SMS Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2352,
        1376
      ],
      "id": "036d2cb4-8fac-4158-8b04-035fa5107b0e",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "oOBwGgUdT1lnFcUw",
          "name": "Malik F API"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "gpt-5.2"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        2192,
        80
      ],
      "id": "92608b37-0f16-4626-b103-de6177559397",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "oOBwGgUdT1lnFcUw",
          "name": "Malik F API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=# Info\n\n## Lead Contact Info\nFull Name: {{ $('Webhook').item.json.body.full_name }}\nJob Role: {{ $('Lead Scoring and Evaluation').item.json.output.job_role }}\nEmail: {{ $json.properties.email.value }}\nPhone Number: {{ $json.properties.hs_calculated_phone_number.value }}\n\n\n## Request Info\nBox Type: {{ $('Webhook').item.json.body.box_type }}\nVolume: {{ $('Webhook').item.json.body.volume }}\nRequest: {{ $('Webhook').item.json.body.details }}\nDimensions: {{ $('Edit Fields').item.json.dimensions }}\n\n\n## Company Info\nCompany Name: {{ $json.properties.company.value }}\nCompany Industry: {{ $('Lead Scoring and Evaluation').item.json.output.company_industry }}\nAbout Company: {{ $('Lead Scoring and Evaluation').item.json.output.about_company }}\n\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Role\nYou are a helpful assistant\n\n# Task\nYou are to write out questions and format information taken from a submit lead form following the criteria provided. You are to ask a variety of different questions to better understand what the lead is looking for. ONLY use the questions provided and ONLY use if they are not already clearly answered. These questions will be asked via a phone AI agent. \n\n# Questions\nThe \"questions_for_lead\" tools incluedes a variety of questions you are to ask the client after they have submited a lead form. The database includes questions, the critiera around asking the question.\n\n# Rules\n-Only ask a question if it is not clearly provided within the submit lead form.\n-Only ask the provided questions do not ask any other questions.\n-Reference provided information when possible i.e. if someone says they are located in California ask \"where in California are you located?\".\n-Follow the format of the email below as much as possible. \n-Ask at maximum 4 questions do not number the questions on the output. \n-NEVER MAKE ANYTHING UP\n-Write phone number in the ineternational standard for phone numbers i.e. +16479962814\n-In teh request info summarize all the info provided on what the customer is looking for including volume, box type, industry is applicable.\n\n# Output\n-You are to output the following JSON Schema\n\n{\n  \"name\": \"user_request_extraction\",\n  \"strict\": true,\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"questions\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"question_1\": {\n            \"type\": \"string\"\n          },\n          \"question_2\": {\n            \"type\": \"string\"\n          },\n          \"question_3\": {\n            \"type\": \"string\"\n          },\n          \"question_4\": {\n            \"type\": \"string\"\n          },\n          \"question_5\": {\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"question_1\",\n          \"question_2\",\n          \"question_3\",\n          \"question_4\",\n          \"question_5\"\n        ],\n        \"additionalProperties\": false\n      },\n      \"contact_info\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"first_name\": {\n            \"type\": \"string\"\n          },\n          \"phone_number\": {\n            \"type\": \"string\"\n          },\n          \"email\": {\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"first_name\",\n          \"phone_number\",\n          \"email\"\n        ],\n        \"additionalProperties\": false\n      },\n      \"request_info\": {\n        \"type\": \"string\"\n      }\n    },\n    \"required\": [\n      \"questions\",\n      \"contact_info\",\n      \"request_info\"\n    ],\n    \"additionalProperties\": false\n  }\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2256,
        -128
      ],
      "id": "7f711195-e1e9-4b20-a224-87a440e70e76",
      "name": "Phone Agent",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer key_0b4cea50c98df5e883ed8299e0a8"
            },
            {
              "name": "Contet-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from_number\": \"**INCLUDE YOUR NUMBER**\",\n  \"to_number\": \"{{ $json.output.contact_info.phone_number }}\",\n  \"call_type\": \"phone_call\",\n  \"retell_llm_dynamic_variables\": {\n    \"first_name\": \"{{ $json.output.contact_info.first_name }}\",\n    \"question_1\": {{ JSON.stringify($json.output.questions.question_1) }},\n    \"question_2\": {{ JSON.stringify($json.output.questions.question_2) }},\n    \"question_3\": {{ JSON.stringify($json.output.questions.question_3)}},\n    \"question_4\": {{ JSON.stringify($json.output.questions.question_4)}},\n    \"question_5\": {{ JSON.stringify($json.output.questions.question_5)}},\n    \"email\": \"{{ $json.output.contact_info.email }}\",\n    \"info\": {{ JSON.stringify($json.output.request_info) }},\n    \"phone_number\": \"{{ $json.output.contact_info.phone_number }}\",\n    \"order_volume\": \"{{ $('Edit Fields').item.json.volume }}\"\n  },\n  \"override_agent_id\": \"**INCLUDE UNIQUE**\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2624,
        -128
      ],
      "id": "bcf934a1-fe82-4e97-95c3-6f8225a84994",
      "name": "Trigger Outbound Call",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appNGNnz1pzusj37q",
          "mode": "list",
          "cachedResultName": "Cartonix",
          "cachedResultUrl": "https://airtable.com/appNGNnz1pzusj37q"
        },
        "table": {
          "__rl": true,
          "value": "tblbY35ePKZIowsck",
          "mode": "list",
          "cachedResultName": "Questions",
          "cachedResultUrl": "https://airtable.com/appNGNnz1pzusj37q/tblbY35ePKZIowsck"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1136,
        240
      ],
      "id": "369e7175-3584-4c53-b003-e4f8bd492aa0",
      "name": "questions_for_lead1",
      "credentials": {
        "airtableTokenApi": {
          "id": "MaidxhhIvSDj51GW",
          "name": "Airtable Cred Final"
        }
      }
    },
    {
      "parameters": {
        "authentication": "appToken",
        "operation": "get",
        "contactId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        1104,
        1024
      ],
      "id": "f0405b0d-6675-408e-84ad-14d26e91b1ee",
      "name": "Get a contact",
      "credentials": {
        "hubspotAppToken": {
          "id": "8z5M13a8m2nQIUB1",
          "name": "Hubspot Final"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appNGNnz1pzusj37q",
          "mode": "list",
          "cachedResultName": "Cartonix",
          "cachedResultUrl": "https://airtable.com/appNGNnz1pzusj37q"
        },
        "table": {
          "__rl": true,
          "value": "tblkCBWa3xQl27yhv",
          "mode": "list",
          "cachedResultName": "Team",
          "cachedResultUrl": "https://airtable.com/appNGNnz1pzusj37q/tblkCBWa3xQl27yhv"
        },
        "filterByFormula": "={Employee Name} = '{{ $json.properties.variety_boxes.value }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1312,
        1024
      ],
      "id": "38e58448-4bb2-4494-b447-9dae7ec1b2e6",
      "name": "Get Sales Owner",
      "credentials": {
        "airtableTokenApi": {
          "id": "MaidxhhIvSDj51GW",
          "name": "Airtable Cred Final"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "={{ $('Get a contact').item.json.properties.hs_full_name_or_email.value }} from {{ $('Get a contact').item.json.properties.company.value }} is inquiring about a box",
        "emailType": "text",
        "message": "={{ $('Get a contact').item.json.properties.hs_full_name_or_email.value }} from {{ $('Get a contact').item.json.properties.company.value }}  is wondering about;\nBox Type: {{ $('Get a contact').item.json.properties.box_type.value }}\nOrder Volume: {{ $('Get a contact').item.json.properties.monthly_order_volume.value }}\nDimensions: {{ $('Edit Fields').item.json.dimensions }}\nDetails: {{ $('Edit Fields').item.json.details }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1520,
        1024
      ],
      "id": "96dd9903-1916-4bde-a673-defc719c4a7d",
      "name": "Send a Message to Sales Rep",
      "webhookId": "b7574ae5-fdbf-4439-9301-bb8c309a7a75",
      "credentials": {
        "gmailOAuth2": {
          "id": "F0IUT8CvLcDGXTe1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "log_steps",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "step",
              "fieldValue": "Step 1 - Submit Lead Form"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('Edit Fields').item.json.email }}"
            },
            {
              "fieldId": "phone_number",
              "fieldValue": "={{ $('Edit Fields').item.json.phone }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "submit lead form"
            },
            {
              "fieldId": "reference_id",
              "fieldValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        432,
        544
      ],
      "id": "4d2d776f-27f1-4e1f-83bf-52e719554ff4",
      "name": "Log Step",
      "credentials": {
        "supabaseApi": {
          "id": "moWNSj2PeEzxOK6d",
          "name": "Supabase Cartonix Acc"
        }
      }
    },
    {
      "parameters": {
        "tableId": "submit_lead_form",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "full_name",
              "fieldValue": "={{ $('Edit Fields').item.json.full_name }}"
            },
            {
              "fieldId": "company_email",
              "fieldValue": "={{ $('Edit Fields').item.json.email }}"
            },
            {
              "fieldId": "phone_number",
              "fieldValue": "={{ $('Edit Fields').item.json.phone }}"
            },
            {
              "fieldId": "company_name",
              "fieldValue": "={{ $('Edit Fields').item.json.company_name }}"
            },
            {
              "fieldId": "box_type",
              "fieldValue": "={{ $('Edit Fields').item.json.box_type }}"
            },
            {
              "fieldId": "dimensions",
              "fieldValue": "={{ $('Edit Fields').item.json.dimensions }}"
            },
            {
              "fieldId": "order_volume",
              "fieldValue": "={{ $('Edit Fields').item.json.volume }}"
            },
            {
              "fieldId": "request_specifics",
              "fieldValue": "={{ $('Edit Fields').item.json.details }}"
            },
            {
              "fieldId": "utm"
            },
            {
              "fieldId": "source",
              "fieldValue": "={{ $('Edit Fields').item.json.source }}"
            },
            {
              "fieldId": "sms_consent",
              "fieldValue": "={{ $('Edit Fields').item.json.sms_consent }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        256,
        544
      ],
      "id": "d485b562-2360-4388-95f3-828334665578",
      "name": "Log Submit Lead Form",
      "credentials": {
        "supabaseApi": {
          "id": "moWNSj2PeEzxOK6d",
          "name": "Supabase Cartonix Acc"
        }
      }
    },
    {
      "parameters": {
        "tableId": "log_steps",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "step",
              "fieldValue": "Step 2 - Lead Research and Evaluation"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('Edit Fields').item.json.email }}"
            },
            {
              "fieldId": "phone_number",
              "fieldValue": "={{ $('Edit Fields').item.json.phone }}"
            },
            {
              "fieldId": "crm_id",
              "fieldValue": "={{ $('Create Contact').item.json['identity-profiles'][0].vid }}"
            },
            {
              "fieldId": "reference_id",
              "fieldValue": "={{ $('Log Submit Lead Form').item.json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1584,
        528
      ],
      "id": "3ae8f18c-31e1-4489-ac00-111f3c32e9e3",
      "name": "Log Step 2A",
      "credentials": {
        "supabaseApi": {
          "id": "moWNSj2PeEzxOK6d",
          "name": "Supabase Cartonix Acc"
        }
      }
    },
    {
      "parameters": {
        "tableId": "log_steps",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "step",
              "fieldValue": "Step 2 - Sales Owner Contact"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1728,
        1024
      ],
      "id": "5396945e-f7ed-42a0-b70c-8e914b31d04a",
      "name": "Log Step 2B",
      "credentials": {
        "supabaseApi": {
          "id": "moWNSj2PeEzxOK6d",
          "name": "Supabase Cartonix Acc"
        }
      }
    },
    {
      "parameters": {
        "tableId": "log_steps",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "step",
              "fieldValue": "Step 3 - Phone Agent"
            },
            {
              "fieldId": "phone_number",
              "fieldValue": "={{ $('Edit Fields').item.json.phone }}"
            },
            {
              "fieldId": "crm_id",
              "fieldValue": "={{ $('Create Contact').item.json.vid }}"
            },
            {
              "fieldId": "reference_id",
              "fieldValue": "={{ $('Log Submit Lead Form').item.json.id }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "phone"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3072,
        -224
      ],
      "id": "14855e06-7300-443f-8ee1-f19e8d5a3f5d",
      "name": "Log Step 3 - Phone Agent",
      "credentials": {
        "supabaseApi": {
          "id": "moWNSj2PeEzxOK6d",
          "name": "Supabase Cartonix Acc"
        }
      }
    },
    {
      "parameters": {
        "tableId": "log_steps",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "step",
              "fieldValue": "Step 3 - 1st Email Response"
            },
            {
              "fieldId": "email",
              "fieldValue": "={{ $('Edit Fields').item.json.email }}"
            },
            {
              "fieldId": "reference_id",
              "fieldValue": "={{ $('Log Submit Lead Form').item.json.id }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "email"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2768,
        528
      ],
      "id": "ff54b71f-670a-4a68-9287-895f71ec4843",
      "name": "Log Step 3 - Email Agent",
      "credentials": {
        "supabaseApi": {
          "id": "moWNSj2PeEzxOK6d",
          "name": "Supabase Cartonix Acc"
        }
      }
    },
    {
      "parameters": {
        "tableId": "log_steps",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "step",
              "fieldValue": "Step 3 - 1st Text Response"
            },
            {
              "fieldId": "phone_number",
              "fieldValue": "={{ $('Edit Fields').item.json.phone }}"
            },
            {
              "fieldId": "crm_id",
              "fieldValue": "={{ $('Create Contact').item.json.vid }}"
            },
            {
              "fieldId": "reference_id",
              "fieldValue": "={{ $('Log Submit Lead Form').item.json.id }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "text"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3024,
        1200
      ],
      "id": "4c8dfb6f-7bf8-476b-82ae-398a71baf4b4",
      "name": "Log Step 3 - Text Agent",
      "credentials": {
        "supabaseApi": {
          "id": "moWNSj2PeEzxOK6d",
          "name": "Supabase Cartonix Acc"
        }
      }
    },
    {
      "parameters": {
        "tableId": "lead_texts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "phone_number",
              "fieldValue": "=+1{{ $('Webhook').item.json.body.phone }}"
            },
            {
              "fieldId": "role",
              "fieldValue": "Assistant"
            },
            {
              "fieldId": "message",
              "fieldValue": "={{ $json.body }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2832,
        1200
      ],
      "id": "e59f93e1-7d1c-4926-8348-7557cd5fd71a",
      "name": "Log Text Message",
      "credentials": {
        "supabaseApi": {
          "id": "moWNSj2PeEzxOK6d",
          "name": "Supabase Cartonix Acc"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f68c68f0-1e27-4cae-b349-a7cd2399e0eb",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2832,
        -128
      ],
      "id": "b8f8df04-7809-41b7-9f91-2f2688a579e2",
      "name": "If"
    },
    {
      "parameters": {
        "tableId": "log_steps",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "step",
              "fieldValue": "Step 3 - Phone Agent Error"
            },
            {
              "fieldId": "phone_number",
              "fieldValue": "={{ $('Edit Fields').item.json.phone }}"
            },
            {
              "fieldId": "crm_id",
              "fieldValue": "={{ $('Create Contact').item.json.vid }}"
            },
            {
              "fieldId": "reference_id",
              "fieldValue": "={{ $('Log Submit Lead Form').item.json.id }}"
            },
            {
              "fieldId": "type",
              "fieldValue": "phone"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3088,
        -48
      ],
      "id": "c3374667-fc70-4b0d-ad63-f24104963071",
      "name": "Log Step 3 - Phone Agent Error",
      "credentials": {
        "supabaseApi": {
          "id": "moWNSj2PeEzxOK6d",
          "name": "Supabase Cartonix Acc"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "b919a196-e3ad-4f06-8482-542ef311534e"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Call"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "f1776c50-c0f7-45b3-8c90-061d1245d039",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Email"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e129fe11-76ab-4bc9-b41b-b61bfa30cf30",
                    "leftValue": "",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1488,
        224
      ],
      "id": "8e43bf52-9601-4c48-8ab0-9687acd63e32",
      "name": "Switch1"
    },
    {
      "parameters": {
        "sendTo": "malikford11@gmail.com",
        "subject": "Phone Agent Failed",
        "emailType": "text",
        "message": "The phone agent did not work for **",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        3296,
        -48
      ],
      "id": "28c9c749-ae86-41aa-9b05-381776631559",
      "name": "Send Error Message",
      "webhookId": "ce7fbffc-6f30-4d06-82ba-68d09dd41715",
      "credentials": {
        "gmailOAuth2": {
          "id": "F0IUT8CvLcDGXTe1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Webhook').item.json.body.email }}",
        "subject": "**Company Name** **Item** Request",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2528,
        528
      ],
      "id": "07681d7a-94ee-48d7-9e25-4fb92f14815e",
      "name": "Send Response Email",
      "webhookId": "ec72ab1b-83ff-4695-a41f-faa44bd3c565",
      "credentials": {
        "gmailOAuth2": {
          "id": "F0IUT8CvLcDGXTe1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "from": "+**Number**",
        "to": "=+1{{ $('Edit Fields').item.json.phone }}",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        2656,
        1200
      ],
      "id": "7c1a2491-ca45-443d-81d6-53654c26ad70",
      "name": "Send Response SMS",
      "credentials": {
        "twilioApi": {
          "id": "LYz5ot6vlhekdisd",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "last_contact",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "last_text_sent",
              "fieldValue": "={{ $now }}"
            },
            {
              "fieldId": "crm_id",
              "fieldValue": "={{ $('Update Contact').item.json.vid }}"
            },
            {
              "fieldId": "text_to_respond",
              "fieldValue": "FALSE"
            },
            {
              "fieldId": "phone_number",
              "fieldValue": "={{ $json.phone_number }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        3216,
        1200
      ],
      "id": "b0ce693d-69b0-4955-826c-51adebfdeba9",
      "name": "Response Log Text",
      "credentials": {
        "supabaseApi": {
          "id": "moWNSj2PeEzxOK6d",
          "name": "Supabase Cartonix Acc"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "af6a0b9b-6d07-48f6-9fe6-069f3008c112",
              "leftValue": "={{ $('Edit Fields').item.json.sms_consent }}",
              "rightValue": "on",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        2112,
        1200
      ],
      "id": "75d80d91-a44f-4371-a676-0df26de86268",
      "name": "Filter SMS"
    },
    {
      "parameters": {
        "toolDescription": "Makes an HTTP request and searches the web",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "max_results",
              "value": "10"
            },
            {
              "name": "search_depth",
              "value": "basic"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        1440,
        768
      ],
      "id": "51c866a6-12b6-4318-9b84-8f7ff60fe8fa",
      "name": "Tavily Search"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"name\": \"user_request_extraction\",\n  \"strict\": true,\n  \"schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"questions\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"question_1\": {\n            \"type\": \"string\"\n          },\n          \"question_2\": {\n            \"type\": \"string\"\n          },\n          \"question_3\": {\n            \"type\": \"string\"\n          },\n          \"question_4\": {\n            \"type\": \"string\"\n          },\n          \"question_5\": {\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"question_1\",\n          \"question_2\",\n          \"question_3\",\n          \"question_4\",\n          \"question_5\"\n        ],\n        \"additionalProperties\": false\n      },\n      \"contact_info\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"first_name\": {\n            \"type\": \"string\"\n          },\n          \"phone_number\": {\n            \"type\": \"string\"\n          },\n          \"email\": {\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"first_name\",\n          \"phone_number\",\n          \"email\"\n        ],\n        \"additionalProperties\": false\n      },\n      \"request_info\": {\n        \"type\": \"string\"\n      }\n    },\n    \"required\": [\n      \"questions\",\n      \"contact_info\",\n      \"request_info\"\n    ],\n    \"additionalProperties\": false\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2544,
        80
      ],
      "id": "f1755d8f-b8ff-441b-9498-3c8bb7e2b5d8",
      "name": "Phone Agent Structured Parser"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GVszwCktigjir-9CJBIP8ST2GstTy6VgtCzCJMYVYcI",
          "mode": "list",
          "cachedResultName": "Cartonix - Info",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GVszwCktigjir-9CJBIP8ST2GstTy6VgtCzCJMYVYcI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 108783995,
          "mode": "list",
          "cachedResultName": "Lead Scoring",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GVszwCktigjir-9CJBIP8ST2GstTy6VgtCzCJMYVYcI/edit#gid=108783995"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Scoring Type",
              "lookupValue": "Initial"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1136,
        96
      ],
      "id": "05cb184d-83ce-4b93-8267-38ac3a139e64",
      "name": "lead_scoring_sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9oViQwujvMSZRCa5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GVszwCktigjir-9CJBIP8ST2GstTy6VgtCzCJMYVYcI",
          "mode": "list",
          "cachedResultName": "Cartonix - Info",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GVszwCktigjir-9CJBIP8ST2GstTy6VgtCzCJMYVYcI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1444430093,
          "mode": "list",
          "cachedResultName": "Questions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GVszwCktigjir-9CJBIP8ST2GstTy6VgtCzCJMYVYcI/edit#gid=1444430093"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        2384,
        80
      ],
      "id": "6e2c61a9-04d3-48a5-a78b-7f4b8cd49307",
      "name": "qualifying_questions",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9oViQwujvMSZRCa5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1GVszwCktigjir-9CJBIP8ST2GstTy6VgtCzCJMYVYcI",
          "mode": "list",
          "cachedResultName": "Cartonix - Info",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GVszwCktigjir-9CJBIP8ST2GstTy6VgtCzCJMYVYcI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1444430093,
          "mode": "list",
          "cachedResultName": "Questions",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1GVszwCktigjir-9CJBIP8ST2GstTy6VgtCzCJMYVYcI/edit#gid=1444430093"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        1344,
        96
      ],
      "id": "f69d5762-ce5d-4ac0-a86f-1d9663dbec67",
      "name": "qualifying_questions_email",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9oViQwujvMSZRCa5",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Submit Form Trigger\n-When someone submits a lead form this workflow starts\n-Logs steps and searches for the contact within the CRM (HubSpot)\n-Routes contacts to different paths depending on if they are a new contact or not",
        "height": 336,
        "width": 1088,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -160,
        384
      ],
      "id": "5db7b880-27a7-4b87-ae04-2a16209d844c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Old Contact\n-If the contact is considered old (ID exists) then their assigned sales rep is sent an email to get in contact with them\n",
        "height": 272,
        "width": 880,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1040,
        944
      ],
      "id": "8a6c4773-8b82-4c5a-ade7-249b99bd417f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Research Lead and Score\n-The AI Agent uses the Tavily Search tool and lead_scoring_sheets to score the lead and research the company if provided\n-Creates a new contact in HubSpot and updates the researched information back into the CRM\n",
        "height": 336,
        "width": 1072,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        928,
        384
      ],
      "id": "3ef10a50-2d66-4a84-8128-64849c284f4b",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Phone Agent Retell\n-Triggers a phone AI agent on Retell to send a call to a lead\n-The AI Agent decides on the questions to ask based on the information provided from the submit lead form",
        "height": 560,
        "width": 1456,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2064,
        -304
      ],
      "id": "17ac7de7-a77e-4d33-8898-90d6779a10da",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Email Responder\n-Sends an email asking questions to better score and qualify the lead",
        "height": 336,
        "width": 1120,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2000,
        384
      ],
      "id": "bd1f1667-a41f-4978-9d66-db08bf2316e0",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## SMS Response\n-Sends a text message response via Twilio\n-Filters out leads who opt out of text correspondence",
        "height": 464,
        "width": 1376,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2048,
        1056
      ],
      "id": "22b1f566-7c3f-4f74-8084-bafa08993770",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Interchangeable Tools and Nodes\n-If you start hitting rate limits of Airtable free plan switch the Airtable tool out for Google Sheets\n-Use the Switch Node so that only 1 of 3 options is chosen for responses",
        "height": 400,
        "width": 672,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1072,
        -16
      ],
      "id": "6a9cc614-0f83-4f9d-8748-3279fc451dcc",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Agent": {
      "main": [
        [
          {
            "node": "Send Response Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search contacts": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead Scoring and Evaluation": {
      "main": [
        [
          {
            "node": "Log Step 2A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Log Submit Lead Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "lead_scoring_criteria": {
      "ai_tool": [
        [
          {
            "node": "Lead Scoring and Evaluation",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update Contact": {
      "main": [
        [
          {
            "node": "Email Agent",
            "type": "main",
            "index": 0
          },
          {
            "node": "Filter SMS",
            "type": "main",
            "index": 0
          },
          {
            "node": "Phone Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "questions_for_lead": {
      "ai_tool": [
        [
          {
            "node": "Email Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Email Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "SMS Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SMS Agent": {
      "main": [
        [
          {
            "node": "Send Response SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Phone Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Phone Agent": {
      "main": [
        [
          {
            "node": "Trigger Outbound Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "questions_for_lead1": {
      "ai_tool": [
        []
      ]
    },
    "Get a contact": {
      "main": [
        [
          {
            "node": "Get Sales Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sales Owner": {
      "main": [
        [
          {
            "node": "Send a Message to Sales Rep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Step": {
      "main": [
        [
          {
            "node": "Search contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Submit Lead Form": {
      "main": [
        [
          {
            "node": "Log Step",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a Message to Sales Rep": {
      "main": [
        [
          {
            "node": "Log Step 2B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Step 2A": {
      "main": [
        [
          {
            "node": "Update Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Outbound Call": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Text Message": {
      "main": [
        [
          {
            "node": "Log Step 3 - Text Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Log Step 3 - Phone Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Step 3 - Phone Agent Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Step 3 - Phone Agent Error": {
      "main": [
        [
          {
            "node": "Send Error Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Response Email": {
      "main": [
        [
          {
            "node": "Log Step 3 - Email Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Response SMS": {
      "main": [
        [
          {
            "node": "Log Text Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Step 3 - Text Agent": {
      "main": [
        [
          {
            "node": "Response Log Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter SMS": {
      "main": [
        [
          {
            "node": "SMS Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT 5.2": {
      "ai_languageModel": [
        [
          {
            "node": "Lead Scoring and Evaluation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Tavily Search": {
      "ai_tool": [
        [
          {
            "node": "Lead Scoring and Evaluation",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Lead Scoring and Evaluation",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Create Contact": {
      "main": [
        [
          {
            "node": "Lead Scoring and Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Phone Agent Structured Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Phone Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "lead_scoring_sheets": {
      "ai_tool": [
        []
      ]
    },
    "qualifying_questions": {
      "ai_tool": [
        [
          {
            "node": "Phone Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "qualifying_questions_email": {
      "ai_tool": [
        []
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Create Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "America/New_York",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "Gd-rB26FndmBLJXFBYAt3"
  },
  "versionId": "725f6ec6-5c6b-4abc-bdca-6c87d9ba8986",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6208d1453997e30141b9da3153029eab4c1f23a82e89f816d70c1fc2522036b9"
  },
  "id": "TkPS2h8K9QSVEw91",
  "tags": []
}